*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
:root{
    --background: #17202c;
    --menssagem-recebida: #585f67;
    --menssagem-enviada: #348065;
    --titulo: #f3f3f3;
    --texto: #8b8f96;
    --sub-titulo: #757a81;
    --icone-enviar: #23b983;
}
textarea:focus, input:focus, select:focus, button:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.texto{
    color: var(--texto);
}
.subtitulo{
    color: var(--sub-titulo);
    font-size: 12px;
}
