body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}
h3 {
  color: var(--titulo);
  margin-top: 15px;
  opacity: 90%;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.info .subtitulo {
  margin-top: 5px;
}

.display {
  height: 65vh;
  width: 95vw;
  margin-top: 15px;
  overflow-y: auto;
  position: sticky;
  display: flex;
  flex-direction: column;
}
.display .menssagem-recebida {
  height: auto;
  margin-left: 1px;
  margin-bottom: 15px;
  max-width: 70vw;
}
.display .menssagem-recebida .menssagem {
  width: min-content;
  height: min-content;
  min-width: 55vw;
  min-height: 30px;
  margin-left: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--menssagem-recebida);
  color: var(--titulo);
}
.display .menssagem-recebida .data {
  margin-left: 10px;
  margin-top: 10px;
  color: var(--sub-titulo);
  font-size: 12px;
}

.display .menssagem-enviada {
  /* width: 90%; */
  height: auto;
  margin-left: auto;
  margin-bottom: 35px;
  /* display: flex;
  flex-direction: column; */
  float: right;
}
.display .menssagem-enviada .menssagem {
  /* width: auto; */
  height: min-content;
  /* min-width: 10vw; */
  min-height: 30px;
  margin-right: 10px;
  margin-left: auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  background-color: var(--menssagem-enviada);
  color: var(--titulo);
  /* float: right; */
  /* padding-right: 15px; */
}
.display .menssagem-enviada .data {
  margin-right: 10px;
  margin-top: 10px;
  color: var(--sub-titulo);
  float: right;
  font-size: 12px;
}

form {
  width: 95vw;
  height: 50px;
  /* margin-top: 100%; */
  border: 3px solid var(--menssagem-recebida);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  position: fixed;
  bottom: 15px;
}
input {
  width: 80%;
  height: 44px;
  background-color: var(--background);
  border: none;
  color: var(--titulo);
  font-size: 16px;
}
select {
  width: 80%;
  height: 44px;
  background-color: var(--background);
  border: none;
  color: var(--titulo);
  font-size: 16px;
}
button {
  width: 50px;
  height: 44px;
  background-color: var(--background);
  border: none;
  color: var(--icone-enviar);
}
a {
  width: 50px;
  height: 44px;
  border: none;
  color: var(--icone-enviar);
  display: flex;
  align-items: center;
  justify-content: center;
}
.estados{
  width: 95vw;
  height: auto;
  /* margin-top: 100%; */
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  position: fixed;
  bottom: 1px;
}
.estados .opcao{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  margin-bottom: 5px;
  background-color: var(--icone-enviar);
  cursor: pointer;
}

.seguradoras{
  width: 200px;
  height: auto;
  /* margin-top: 100%; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  /* position: fixed; */
  bottom: 1px;
}
.seguradoras .opcao{
  height: 100px;
  width: 200px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  margin-bottom: 5px;
  background-color: var(--icone-enviar);
  cursor: pointer;
}
#selecionado{
  position: absolute;
  width: 150px;
  height: 45px;
  background-color: #d3d3d3;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right:0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: none;
  z-index: 1;
} 
@media (max-width: 667px) {
  /* .display .menssagem-recebida {
    margin-bottom: 12vh;
  } */
  /* #text:focus-within ~ #display{
    height: min-content;
    position: fixed;
    bottom: 75px;
    background-color: red;
  } */
}